
@{
    ViewBag.Title = "Logout";
}

<html>

<head>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

</head>
<body>
    <div>

        <h1>
            Welcome
        </h1>
        <label id=" lbl"></label>
    </div>

</body>
</html>
<script>
    $(document).rady(function () {
        alert('hello');
        $("#lbl").text("Welcome logout page");
    });

</script>

